main {
  border: solid black 1px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 3rem;
  margin-left: 100px;
  margin-right: 100px;
  border: solid black 1px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.logo-container img {
  max-width: 100px;
}

header h3 {
  font-family: Arial Black, sans-serif;
  text-align: center;
  letter-spacing: 7px;
  font: italic;
}

.registration-no h4 span {
  color: red;

}

.registration-no h4 {
  margin-left: 30px;
}

/* general-info-header */
.general-info-header {
  width: 100%;
  padding: 0.3rem;
  border: solid black 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-collapse: collapse;
}

#SGI {
  background-color: #ddccff;
  text-align: center;
  padding: 0.3rem;
  width: 100%;
  border-bottom: solid black 1px;

}

#stu {
  padding-right: 180px;
}

#cs {
  padding-right: 190px;
}


/* Student Subject info */
.student-subject-info-header th {
  padding: 0.2rem;
  font-weight: bold;
  background-color: #ddccff;
  border-bottom: solid black 1px;
  text-align: center;
}

.student-subject-info-header {
  width: 100%;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

#ul {
  line-height: 0.5px;
}

.fees-container {
  margin-top: 20px;
  margin-left: 5rem;
  gap: 20rem;
  display: flex;
  width: 120%;
}

#feecon {
  border: solid black 1px;
    width: 90%;
}

#assessed-fees-table, #table-3 {
  border-spacing: 0;
  width: 100%;
}

#fees {
  background-color: #ddccff;
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid black 1px;
} 

#Secpayment {
  background-color: #ddccff;
  text-align: center;
  padding: 0.3rem;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.right-fee {
  text-align: right ;
  
}

.left-col {
  text-align: left;
  width: 70%;
}

.right-col {
  text-align: right;
}

.left-col, .right-col {
  border-bottom: solid 1px;
  border-top: solid 1px;
}

#table-4 {
  font-size: 13px;
  width: 100%;
  border-spacing: 0;
}

.first {
  border: solid 1px;
}

#RR, #rules-1 {
  width: 70%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  float: right;
  margin-right: 350px;
}

#RR {
  text-align: center;
  padding-top: 30px; 
  font-weight: bold; 
  margin-bottom: 20px;
}

#OR-1 span {
  border-bottom: solid 1px;
}

#OR-1 {
  margin-top: 150px;
  width: 100%;
  float: right;
  margin-right: 150px;
  font-weight: bold;
}